article {
  background-color: cornsilk;
  color: black;
  border: 1px solid darkblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 3rem;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#profile {
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 50%;
}
#pp {
  width: 300px;
  height: 300px;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 50%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.inline-input {
  display: inline;
}

table {
}

th,
td {
  padding: 0.5rem;
}

.nameInput {
  display: block;
  margin-bottom: 2rem;
}

fieldset {
  display: flex;
  justify-content: space-between;
}
legend {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.inline-input {
  display: inline;
}

button[type="submit"] {
  background-color: yellowgreen;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
